<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">
                <img id="img-heading" src="img/me.jpg" class="img-responsive img-circle img-heading" alt="">
            </div>
            <div class="intro-lead-in">
                <ul class="list-inline social-buttons header-social">
                    <li><social-icon name="GitHub"></social-icon></li>
                    <li><social-icon name="LinkedIn"></social-icon></li>
                    <li><social-icon name="AngelList"></social-icon></li>
                    <li><social-icon name="Twitter"></social-icon></li>
                </ul>
            </div><br>
            <!-- <a href="#projects" class="page-scroll btn btn-xl">View My Projects</a> -->
        </div>
    </div>
</header>
