<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="/" du-smooth-scroll du-scrollspy>Cathal Killeen</a>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Blog Grid Section -->
<section id="blog" ng-hide="individual" style="margin: 50px 0 0 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog</h2>
                <h3 class="section-subheading text-muted">Posts about events and hackathons I have attended.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4" ng-repeat="post in blogPosts" style="margin-bottom:80px">
                <a href ng-click="openPost(post.slug)"><div class="img-project" ng-style="{'background-image':'url({{post.featured_image}})'}"></div></a>
                <a href ng-click="openPost(post.slug)"><h4 class="service-heading">{{post.title}}</h4></a>
                <p class="text-muted" ng-bind-html="post.sample" style="max-width:500px;margin:auto;"></p>
            </div>
        </div>
    </div>
</section>

<section id="blog" ng-show="individual">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <a href="/blog"><h4><i class="fa fa-hand-o-left" style="margin-right:8px;font-size:120%"></i>Back to All Posts</h4></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top:45px;">
                <h2 class="section-heading">{{post.title}}</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom:20px;">Posted on <span>{{post.date | amDateFormat:'LL'}}</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img id="post-featured-image" ng-src="{{post.featured_image}}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div ng-bind-html="content" class="post-content"></div>
            </div>
        </div>
    </div>
</section>
