<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright"><a href="https://github.com/cathal-killeen/cathal-killeen.github.io" target="_blank" ga-track-event="['foot-view-source', 'open', 'social']">View Source Code</a></span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><social-icon name="GitHub"></social-icon></li>
                    <li><social-icon name="LinkedIn"></social-icon></li>
                    <li><social-icon name="AngelList"></social-icon></li>
                    <li><social-icon name="Twitter"></social-icon></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <!-- <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li> -->
                    <li>
                        <i class="fa fa-code"></i> with <i class="fa fa-heart"></i>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>
