<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-left page-scroll">
            <a class="navbar-brand page-scroll" style="margin-top:8px;font-size:24px;" href="/" du-smooth-scroll du-scrollspy>Cathal Killeen</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
            <ul class="nav icon-nav navbar-nav navbar-right">
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/?projects">
                        <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/?blog">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>


<style>
    .icon-nav.navbar-nav>li, .icon-nav.navbar-nav {
        float: left !important;
    }

    .icon-nav.navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

    .icon-nav.navbar-right {
        float: right!important;
    }
</style>
