
<!-- Navigation -->
<main-navbar></main-navbar>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">
                <img id="img-heading" src="img/me.jpg" class="img-responsive img-circle img-heading" alt="">
            </div>
            <div class="intro-lead-in">
                <ul class="list-inline social-buttons header-social">
                    <li><social-icon name="GitHub"></social-icon></li>
                    <li><social-icon name="LinkedIn"></social-icon></li>
                    <li><social-icon name="AngelList"></social-icon></li>
                    <li><social-icon name="Twitter"></social-icon></li>
                </ul>
            </div><br>
            <!-- <a href="#projects" class="page-scroll btn btn-xl">View My Projects</a> -->
        </div>
    </div>
</header>

<!-- Project Grid Section -->
<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <h3 class="section-subheading text-muted">Software projects that I have worked on, including hackathon projects, personal, college and client projects.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 projects-item" ng-repeat="project in home_projects" style="margin-bottom:30px">
                <a href="/projects/{{project.slug}}" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-arrows-alt fa-3x"></i>
                        </div>
                    </div>
                    <div class="img-project" ng-style="{'background-image':'url({{project.featured_image}})'}"></div>
                </a>
                <div class="projects-caption" style="background-color:#EEEEEE;">
                    <h5>{{project.title}}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top:30px">
                <button class="btn btn-xl" onclick="location.href = '/projects';">See All Projects <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>

<!-- Blog Section -->
<section id="blog" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog</h2>
                <h3 class="section-subheading text-muted">Posts about events and hackathons I have attended.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4" ng-repeat="post in blogPosts" style="margin-bottom:80px">
                <a href="#"><div class="img-project" ng-style="{'background-image':'url({{post.featured_image}})'}"></div></a>
                <a href="#"><h4 class="service-heading">{{post.title}}</h4></a>
                <p class="text-muted" ng-bind-html="post.sample" style="max-width:500px;margin:auto;"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top:30px">
                <button class="btn btn-xl" onclick="location.href = '/blog';">See All Posts <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>

<!-- Experience Timeline Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <h3 class="section-subheading text-muted">A timeline of my experience with software development.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li ng-repeat="item in experience track by $index" ng-class="$even ? 'timeline-image' : 'timeline-inverted'">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" ng-src="{{item.image_url}}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{item.time}}</h4>
                                <h4 class="subheading">{{item.title}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{item.description}}</p>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of My
                                <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>

<!-- Contact Section -->
<section id="contact">
    <!-- contact component -->
    <contact></contact>
</section>

<!-- Footer component -->
<foot></foot>
