
<!-- Navigation -->
<main-navbar></main-navbar>

<!-- Header -->
<!-- main head component -->
<main-head></main-head>

<!-- Project Grid Section -->
<section id="projects">
    <main-projects></main-projects>
</section>

<!-- Blog Section -->
<section id="blog" class="bg-light-gray">
    <main-blog></main-blog>
</section>

<!-- Experience Timeline Section -->
<section id="experience">
    <!-- experience component -->
    <experience></experience>
</section>

<!-- Contact Section -->
<section id="contact">
    <!-- contact component -->
    <contact></contact>
</section>

<!-- Footer component -->
<foot></foot>
