<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Projects</h2>
            <h3 class="section-subheading text-muted">Software projects that I have worked on, including personal, college and client projects.</h3>
        </div>
    </div>
    <div class="col-lg-12 text-center" ng-show="loading">
        <h3 class="section-subheading text-muted">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin-right:10px;"></i> Loading...
        </h3>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 projects-item" ng-repeat="project in projects">
            <a ng-href="/?project={{project.slug}}" class="projects-link">
                <div class="projects-hover">
                    <div class="projects-hover-content">
                        <i class="fa fa-arrows-alt fa-3x"></i>
                    </div>
                </div>
                <div class="img-project" ng-style="{'background-image':'url({{project.featured_image}})'}"></div>
            </a>
            <div class="projects-caption" style="background-color:#EEEEEE;">
                <h5>{{project.title}}</h5>
            </div>
        </div>
    </div>
</div>
