<div class="container">
    <div class="row" ng-hide="display" style="margin: 50px 0 0 0;">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Projects</h2>
            <h3 class="section-subheading text-muted">Software projects that I have worked on, including personal, college and client projects.</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom:100px;" ng-show="display">
        <div class="col-xs-offset-1" >
            <a href="/?projects"><h4><i class="fa fa-hand-o-left" style="margin-right:8px;font-size:120%"></i>All Projects</h4></a>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-md-3 col-md-offset-1 text-center">
                <img ng-src="{{info.image}}" style="height:150px;width:150px;">
            </div>
            <div class="col-md-7 col-xs-10 col-xs-offset-1 col-md-offset-0" style="margin-top:10px;">
                <h2 class="text-sm-center">{{info.title}}</h2>
                <em style="color:#777777;" ng-bind-html="description"></em>
            </div>
        </div>
    </div>

    <div scrolling-tabs-wrapper>

            <!-- Standard Bootstrap ul.nav-pills -->
            <ul class="nav nav-pills" role="tablist">
              <li ng-class="{ 'active': tab.active, 'disabled': tab.disabled }" ng-repeat="tab in main.uc3Pills">
                <a ng-href="{{'#' + tab.paneId}}" role="pill" data-toggle="pill">{{tab.title}}</a>
              </li>
            </ul>

    </div>

    <div class="col-lg-12 text-center" ng-show="loading">
        <h3 class="section-subheading text-muted">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin-right:10px;"></i> Loading...
        </h3>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 projects-item" ng-repeat="project in projects" ng-show="show(project)">
            <a ng-href="/?project={{project.slug}}" ga-track-event="['project-grid', 'view', 'projects', {{project.ID}}]" class="projects-link">
                <div class="projects-hover">
                    <div class="projects-hover-content">
                        <i class="fa fa-arrows-alt fa-3x"></i>
                    </div>
                </div>
                <div class="img-project" ng-style="{'background-image':'url({{project.featured_image}})'}"></div>
            </a>
            <div class="projects-caption" style="background-color:#EEEEEE;">
                <h5>{{project.title}}</h5>
            </div>
        </div>
    </div>
</div>
