<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="/" du-smooth-scroll du-scrollspy>Cathal Killeen</a>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Project Grid Section -->
<section id="projects" ng-hide="individual" style="margin: 50px 0 0 0;">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <h3 class="section-subheading text-muted">Software projects that I have worked on, including personal, college and client projects.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 projects-item" ng-repeat="project in projects">
                <a href ng-click="openProject(project.slug)" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-arrows-alt fa-3x"></i>
                        </div>
                    </div>
                    <div class="img-project" ng-style="{'background-image':'url({{project.featured_image}})'}"></div>
                </a>
                <div class="projects-caption" style="background-color:#EEEEEE;">
                    <h5>{{project.title}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects" ng-show="individual">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <a href="/projects"><h4><i class="fa fa-hand-o-left" style="margin-right:8px;font-size:120%"></i>Back to Projects</h4></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top:45px;">
                <h2 class="section-heading">{{project.title}}</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom:20px;">Posted on <span>{{project.date | amDateFormat:'LL'}}</span></h3>
            </div>
        </div>
        <div class="row" style="margin: 20px 0 40px 0;">
            <div class="col-lg-12 text-center">
                <a class="btn btn-xl btn-demo" ng-href="{{project.demo_links.demo}}" ng-show="project.demo_links.demo" target="_blank"><i class="fa fa-desktop" style="margin-right:8px;"></i>Live Demo</a>
                <a class="btn btn-xl btn-demo" ng-href="{{project.demo_links.site}}" ng-show="project.demo_links.site" target="_blank" style="background-color:#4527a0;border-color:#4527a0;"><i class="fa fa-desktop" style="margin-right:8px;"></i>View Site</a>
                <a class="btn btn-xl btn-demo" ng-href="{{project.demo_links.repo}}" ng-show="project.demo_links.repo" target="_blank" style="background-color:#3F4448;border-color:#3F4448;"><i class="fa fa-github" style="margin-right:8px;font-size:120%"></i>GitHub Repo</a>
                <a class="btn btn-xl btn-demo" ng-href="{{project.demo_links.devpost}}" ng-show="project.demo_links.devpost" target="_blank" style="background-color:#003E54;border-color:#003E54;"><i class="fa fa-trophy" style="margin-right:8px;font-size:120%"></i>Devpost</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img id="post-featured-image" ng-src="{{project.featured_image}}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div ng-bind-html="content" class="post-content"></div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Cathal Killeen 2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><social-icon name="GitHub"></social-icon></li>
                    <li><social-icon name="LinkedIn"></social-icon></li>
                    <li><social-icon name="AngelList"></social-icon></li>
                    <li><social-icon name="Twitter"></social-icon></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <!-- <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li> -->
                    <li>
                        <i class="fa fa-code"></i> with <i class="fa fa-heart"></i>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>
